{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>childlinks</title>
  </head>
  <body>
    <!-- <div class="jumbotron"> -->
      <!-- <h1>Welcome to child links</h1> -->
      {% block content %}
      <div class="jumbotron">
        <h1 class="text-center"><img src="static/image/logo.jpg" alt="" height="50px">  <br> Welcome to childlinks site</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="static/image/girl.jpeg" alt="needy" height="400px" width="450px">


          </div>

          <div class="col-md-6" style="background-color:white;">
            <h1 style="text-decoration: underline; color:blue;">SPONSOR A CHILD TODAY</h1>
            <h2>Together</h2>
            <h3>We can make life better</h3>
            <p> Love, care and help make a difference in this world</p>
            <p>Even a small contribution becomes a part of a huge change</p>
            <p>Hey, we are here to help you out in your troubles</p>
            <p>This is a platform who aim is to bring organizations and volunteers under one roof for easy access to the needy</p>
            <!-- <p>You need to be a member in order to partcipate our activities</p> -->

            <!-- <p>Have an account? <a href="{% url 'auth_login' %}" class="btn btn-primary">Create Profile</a></p> -->
          </div>
        </div>
      </div>



       {%endblock%}



    <!-- </div> -->

<div class="container">
  <p>this is a brief description about us</p>
</div>

  </body>
</html>
