{%extends 'base.html'%}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>childlinks</title>
  </head>
  <body>

    <div class="container">

      <div class="row">
        <!-- {% if categories %}
          <h2>Found {{ categories|length }} of searched term {{message}}</h2>
        {% else %}
          <h2> Found 0 categories for the search term {{message}}</h2>
        {% endif %} -->
      </div>

      <div class="row">
       {% if organizations %}
        {% for organization in organizations %}
          <div class="col-sm-6 col-md-3">
              <h1>{{organization.name}}</h1>
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    {% endblock %}

  </body>
</html>
