/* .container{
  background-image: url("/image/pexels.jpeg")  no-repeat fixed;
  height: 100px;
  background-size: cover;
} */
body{
  background-image: url(../image/pexels.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  background-attachment: fixed;
}

h1{
  font-family: 'Gloria Hallelujah', cursive;

}
